@import './maxin';

header {
    width:100%; padding:0 40px; margin: 20px 0 60px;
    .headerArea {
        .gnbGroup {
            padding: 20px 0; display: flex; gap: 40px;
            .gnbUnit {
                a {
                    font-size: 1.6rem; font-family: 'GmarketSans'; font-weight: 700; color: #333; transition: all 0.2s;
                    &:hover {color: var(---Secondary);}
                }
            }
        }
    }

    @include media('mobile') {
        padding: 0 20px; margin: 0 0 60px;
        .headerArea {
            .gnbGroup {
                gap: 25px; 
                .gnbUnit {
                    a {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}